@use '/src/styles/tailwind.css';
@use './layout.scss';
@use './element/custom.scss';
@use './dark.scss';
*{
  padding: 0;
  margin: 0;
}

html{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
}

body{
  width: 100%;
  height: 100%;
  //超出部分滚动
  overflow: auto;
}